body { 
    overflow: scroll-y;
    margin: 0 0;
    background-image: linear-gradient(135deg, #4b47be,#6d3e84);
    background-size: 150% 150%;
    animation: backgroundTween 3s ease-in-out infinite;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
    color:white;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes backgroundTween {
    0% { background-position: 0% 0% }
    50% { background-position: 100% 100% }
    100% { background-position: 0% 0% }
}

.profile {
    margin-top: 20px;
    display:flex;
    text-shadow: 0 0 20px white;
}

.profile img > .text-content {
    height: 100%;
}

.text-content {
    padding: 40px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-content * {
    transition: transform 0.5s ease-in-out,text-shadow 0.2s ease-in-out;
    margin: 0;
}

.text-content *:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px white;

    animation: beating 2s ease-in-out infinite 1s;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 20px white;

    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.profile img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px white;

    animation: beating 2s ease-in-out infinite 1s;
}

@keyframes beating {
    0% { transform: scale(1.1) }
    50% { transform: scale(1.05) }
    100% { transform: scale(1.1) }
}

.text-content p > .socials {
    width:100%;
}

.socials {
    margin-top: 12px;
    display:flex;
    justify-content: space-around;
    transition: none;
}
.socials:hover {
    transform: none;
    animation: none;
}

.socials * {
    text-shadow: 0 0 20px white;
    transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

.socials *:hover {
    transform: scale(1.1);
    text-shadow: 0 0 40px white;
}

.sites {
    margin-top: 12px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: none;

    text-align: center;
}

.sites:hover {
    transform: none;
    animation: none;
}

.sites > * {
    display:flex;
    flex-direction:column;
    padding: 10px 10px;
}

.sites i, h1 {
    margin: 16px 5px;
    text-shadow: 0 0 20px white;
    transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}


.sites i:hover, .sites h1:hover {
    transform: scale(1.1);
    text-shadow: 0 0 40px white;
}

iframe {
    background-color:white;
    pointer-events: none;

    border: 2px solid white;
    box-shadow: 0 0 20px white;
}


@media (max-width: 600px) {
    .profile {
        margin-top: 75px;

        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        justify-content: space-evenly;
    }

    .sites {
        flex-direction: column;
    }
}