body { 
    overflow: hidden;
    margin: 0 0;
    background-image: linear-gradient(135deg, #2222BB,#9200db);
    background-size: 150% 150%;
    animation: backgroundTween 3s ease-in-out infinite;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes backgroundTween {
    0% { background-position: 0% 0% }
    50% { background-position: 100% 100% }
    100% { background-position: 0% 0% }
}

.profile {
    display:flex;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
    text-shadow: 0 0 20px white;
}

.text-content {
    padding: 40px;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.text-content * {
    transition: transform 0.5s ease-in-out,text-shadow 0.2s ease-in-out;
    margin: 0;
}

.text-content *:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px white;

    animation: beating 2s ease-in-out infinite 1s;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 20px white;

    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.profile img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px white;

    animation: beating 2s ease-in-out infinite 1s;
}

@keyframes beating {
    0% { transform: scale(1.1) }
    50% { transform: scale(1.05) }
    100% { transform: scale(1.1) }
}
