.aboutmeContainer {
  padding: 24px 24px;
  border-radius: 24px;
  border: 2px solid #bbbbbb44;
  box-shadow: 0 0 20px #bbbbbb44;


  backdrop-filter: blur(3px) brightness(110%) contrast(80%);
}

h2 {
  margin-block-start: 0;
}

.imgRight {
  float: right;
  flex-grow: 1;

  border-radius: 24px;
  border: 2px solid #bbbbbb44;
  box-shadow: 0 0 20px #bbbbbb44;

  max-height: 50vh;
  max-width: 60%;

  margin-left: 24px;
  margin-bottom: 24px;
}

.imgLeft {
    float: left;
    flex-grow: 1;
  
    border-radius: 24px;
    border: 2px solid #bbbbbb44;
    box-shadow: 0 0 20px #bbbbbb44;
  
    max-height: 50vh;
    max-width: 60%;
  
    margin-right: 24px;
    margin-bottom: 24px;
  }

@media (max-width: 1200px) {
    main img, section img {
        width: 100%;
    }

    .imgLeft, .imgRight {
        max-height: none;
    }
}
