/* https://codepen.io/theamazingben/pen/QRVeaj */

.photo-container {
  padding-inline-start: 0;
  list-style: none;
  margin: 0;
  padding: 0;

  columns: 12rem;
  column-gap: 1rem;
}

.photo-container li {
  break-inside: avoid;
  margin: 0 0 1rem;
}

.photo-container img {
  display: block;
  height: auto;
  max-width: 100%;

  border-radius: 24px;
  border: 2px solid #bbbbbb44;
  box-shadow: 0 0 20px #bbbbbb44;

  backdrop-filter: blur(3px) brightness(110%) contrast(80%);
}
