html {
  overflow: hidden;
  height: 100%;
  background-color: black;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(56, 9, 121, 0.840795693277311) 100%
    ),
    url(./noise.svg);
}

body {
  margin: 0 0;
  height: 100%;
  overflow: auto;

  width: 100%;
  min-height: 100vh;

  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  position: absolute;
  background: transparent;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

#navlogo {
  margin: 16px 32px;
  display:flex;
  align-items:center;
  justify-content: center;
}

#navlogo h1 {
  margin: 16px;
  font-variant: small-caps;
}

#navpic {
  width: 50px;
  height: 50px;

  border: 2px solid white;
  padding: 4px;

  border-radius: 50%;
}

#navlist {
  display: flex;
}

#navlist li {
  list-style-type: none;
  padding: 8px 8px;
  margin: 0 8px;
  border-radius: 8px;
  font-weight: 600;
}

#navlist li:hover {
  color: black;
  background-color: white;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.bento {
  display: grid;

  grid-template-areas:
    "one one two two three four"
    "five six two two seven seven";

  width: 90%;
  min-height: 400px;
}

.bento div {
  margin: 16px 16px;
  border-radius: 24px;
  border: 1px solid #bbbbbb44;
  box-shadow: 0 0 20px #bbbbbb44;


  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: bold;

  backdrop-filter: blur(2px) brightness(110%) contrast(80%);
}

#bento1 {
  grid-area: one;
}

#bento2 {
  grid-area: two;
}

#bento3 {
  grid-area: three;
}

#bento4 {
  grid-area: four;
}

#bento5 {
  grid-area: five;
}

#bento6 {
  grid-area: six;
}

#bento7 {
  grid-area: seven;
}

#bento8 {
  grid-area: eight;
}

@media (max-width: 1050px) {
  .bento {
    margin-top: 64px;

    grid-template-areas: 
      "two two"
      "two two"
      "one one"
      "five six"
      "three four"
      "seven seven";
    height: 100%;
  }
  .bento div {
    min-height: 200px;
  }
  #bento2 {
    height: 50vh;
  }

  nav {
    position: relative;
  }

  #navlogo, nav, nav ul {
    flex-direction: column;
    align-items: flex-start
  }

  #navlogo {
    align-self: center;
    align-items: center;
  }
}